Repository Recovery-Compass/wfd-compliance, changes with the owners that CODEOWNERS names for each.
All owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/documentation-team, @Recovery-Compass/devops, @Recovery-Compass/security, @Recovery-Compass/frontend, @Recovery-Compass/backend

CODEOWNERS:

# Recovery Compass CODEOWNERS
# This file defines who is responsible for code in this repository
# These owners will be automatically requested for review when someone opens a pull request

# Default owners for everything in the repo
* @ericjones @Recovery-Compass/admins

# Documentation
*.md @ericjones @Recovery-Compass/documentation-team

# Configuration files
*.yml @Recovery-Compass/devops
*.yaml @Recovery-Compass/devops
amplify.yml @ericjones @Recovery-Compass/devops

# Security-sensitive files
.env* @ericjones
*.key @ericjones
*.pem @ericjones
SECURITY.md @ericjones @Recovery-Compass/security

# Frontend code
/src/ @Recovery-Compass/frontend
*.tsx @Recovery-Compass/frontend
*.jsx @Recovery-Compass/frontend

# Backend code
/app/ @Recovery-Compass/backend
*.py @Recovery-Compass/backend

# CI/CD
.github/ @Recovery-Compass/devops
/scripts/ @Recovery-Compass/devops

# MCP and AI context
*context* @ericjones
*mcp* @ericjones

Add GPSW Compliance Checklist - 96% compliant, ready for production
  GPSW_COMPLIANCE_CHECKLIST.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Fix build configuration for Vite React app - resolves preview page error
  amplify.yml
  index.html
  package-lock.json
  package.json
  tsconfig.app.tsbuildinfo
  tsconfig.node.tsbuildinfo
Owners: @ericjones, @Recovery-Compass/devops, @Recovery-Compass/admins

Add ops profile and guardrails for solo-dev low-traffic posture
  GUARDRAILS.yaml
  OPS_PROFILE.md
  package.json
  scripts/verify-guardrails.sh
Owners: @Recovery-Compass/devops, @ericjones, @Recovery-Compass/documentation-team, @Recovery-Compass/admins

Add Node version pinning and Amplify status check script
  .nvmrc
  scripts/check-amplify-status.sh
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/devops

Add OPS_README.md for quick operations reference
  OPS_README.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Add build:dev script for Lovable compatibility
  package.json
Owners: @ericjones, @Recovery-Compass/admins

Potential fix for code scanning alert no. 1: Incomplete string escaping or encoding
  cloudflare-security-worker.js
Owners: @ericjones, @Recovery-Compass/admins

Potential fix for code scanning alert no. 1: Incomplete string escaping or encoding (#1)
  cloudflare-security-worker.js
Owners: @ericjones, @Recovery-Compass/admins

Update tsconfig.app.tsbuildinfo
  tsconfig.app.tsbuildinfo
Owners: @ericjones, @Recovery-Compass/admins

chore(ci): retire legacy workflows; add minimal Node 20 CI
  .github/workflows-retired/ci-security.yml
  .github/workflows/ci-security.yml
  .github/workflows/node20-ci.yml
Owners: @Recovery-Compass/devops

chore: pin engines.node to ^20; fix repository url
  package.json
Owners: @ericjones, @Recovery-Compass/admins

Delete app/venv/bin directory
  app/venv/bin/python
  app/venv/bin/python3
  app/venv/bin/python3.12
Owners: @Recovery-Compass/backend

Delete archive/2025-08-12_jobs_simplify/src directory
  archive/2025-08-12_jobs_simplify/src/App.tsx
  archive/2025-08-12_jobs_simplify/src/components/CalculationModal.tsx
  archive/2025-08-12_jobs_simplify/src/components/ComplianceGauge.tsx
  archive/2025-08-12_jobs_simplify/src/components/DiscoveryHero.tsx
  archive/2025-08-12_jobs_simplify/src/components/DynamicComplianceMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/ExecutiveMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/HotSpots.tsx
  archive/2025-08-12_jobs_simplify/src/components/JulyDataBuckets.tsx
  archive/2025-08-12_jobs_simplify/src/components/KPIMetricsGrid.tsx
  archive/2025-08-12_jobs_simplify/src/components/ProgramMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/ResearchExportDashboard.tsx
  archive/2025-08-12_jobs_simplify/src/components/ValueMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/ui/chart.tsx
  archive/2025-08-12_jobs_simplify/src/pages/ExecutiveDashboard.tsx
  archive/2025-08-12_jobs_simplify/src/pages/Index.tsx
  archive/2025-08-12_jobs_simplify/src/pages/ProgramDetail.tsx
Owners: @Recovery-Compass/frontend

Delete ~ directory
  ~/Library/Application Support/Claude/claude_desktop_config.json
  ~/Projects/REPOSITORY_ORGANIZATION_GUIDE.md
  ~/Projects/cleanup_and_optimize.sh
  ~/Projects/recovery-compass-journeys/recovery-compass-grant-system/.github/workflows/ci.yml
  ~/Projects/recovery-compass-journeys/recovery-compass-grant-system/GITHUB_REPOSITORY_SETUP.md
  ~/Projects/recovery-compass-journeys/recovery-compass-grant-system/pattern_insight_config.yml
  ~/bin/rc-dashboard
  ~/bin/rc-funding-top5
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/documentation-team, @Recovery-Compass/devops

Delete 501c3_APPROVED_CELEBRATION.md
  501c3_APPROVED_CELEBRATION.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Delete 501c3_COMPLIANCE_REVENUE_GUIDE.md
  501c3_COMPLIANCE_REVENUE_GUIDE.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Delete 501c3_RISK_AWARE_STRATEGY.md
  501c3_RISK_AWARE_STRATEGY.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Delete 72_HOUR_ZERO_ILLUSION_CHECKLIST.md
  72_HOUR_ZERO_ILLUSION_CHECKLIST.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Delete ACTIVATE_AGENTS_GUIDE.md
  ACTIVATE_AGENTS_GUIDE.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Update ALIGNMENT_COMPLETE.md
  ALIGNMENT_COMPLETE.md
Owners: @ericjones, @Recovery-Compass/documentation-team

Delete ALIGNMENT_COMPLETE.md
  ALIGNMENT_COMPLETE.md
Owners: @ericjones, @Recovery-Compass/documentation-team

chore: add CODEOWNERS with single owner @EssenceAlignment
  .github/CODEOWNERS
Owners: @Recovery-Compass/devops

chore(repo-cleanup): pin trufflehog v3.70.1; Node 20; whitelist branch naming; Vite fs.strict/publicDir
  .github/workflows/ci-security.yml
  vite.config.ts
Owners: @Recovery-Compass/devops, @ericjones, @Recovery-Compass/admins

Repo cleanup: pin actions, tighten policy checks, and Vite server hardening (#5)
  .github/workflows/ci-security.yml
  501c3_APPROVED_CELEBRATION.md
  501c3_COMPLIANCE_REVENUE_GUIDE.md
  501c3_RISK_AWARE_STRATEGY.md
  72_HOUR_ZERO_ILLUSION_CHECKLIST.md
  ACTIVATE_AGENTS_GUIDE.md
  ALIGNMENT_COMPLETE.md
  app/venv/bin/python
  app/venv/bin/python3
  app/venv/bin/python3.12
  archive/2025-08-12_jobs_simplify/src/App.tsx
  archive/2025-08-12_jobs_simplify/src/components/CalculationModal.tsx
  archive/2025-08-12_jobs_simplify/src/components/ComplianceGauge.tsx
  archive/2025-08-12_jobs_simplify/src/components/DiscoveryHero.tsx
  archive/2025-08-12_jobs_simplify/src/components/DynamicComplianceMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/ExecutiveMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/HotSpots.tsx
  archive/2025-08-12_jobs_simplify/src/components/JulyDataBuckets.tsx
  archive/2025-08-12_jobs_simplify/src/components/KPIMetricsGrid.tsx
  archive/2025-08-12_jobs_simplify/src/components/ProgramMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/ResearchExportDashboard.tsx
  archive/2025-08-12_jobs_simplify/src/components/ValueMetrics.tsx
  archive/2025-08-12_jobs_simplify/src/components/ui/chart.tsx
  archive/2025-08-12_jobs_simplify/src/pages/ExecutiveDashboard.tsx
  archive/2025-08-12_jobs_simplify/src/pages/Index.tsx
  archive/2025-08-12_jobs_simplify/src/pages/ProgramDetail.tsx
  vite.config.ts
  ~/Library/Application Support/Claude/claude_desktop_config.json
  ~/Projects/REPOSITORY_ORGANIZATION_GUIDE.md
  ~/Projects/cleanup_and_optimize.sh
  ~/Projects/recovery-compass-journeys/recovery-compass-grant-system/.github/workflows/ci.yml
  ~/Projects/recovery-compass-journeys/recovery-compass-grant-system/GITHUB_REPOSITORY_SETUP.md
  ~/Projects/recovery-compass-journeys/recovery-compass-grant-system/pattern_insight_config.yml
  ~/bin/rc-dashboard
  ~/bin/rc-funding-top5
Owners: @Recovery-Compass/devops, @ericjones, @Recovery-Compass/documentation-team, @Recovery-Compass/backend, @Recovery-Compass/frontend, @Recovery-Compass/admins

chore(actions): retire ci-security workflow
  .github/workflows-retired/ci-security.yml
Owners: @Recovery-Compass/devops

Retire ci-security workflow (#6)
  .github/workflows-retired/ci-security.yml
Owners: @Recovery-Compass/devops

chore(ci): pin actions/setup-node to v4.0.0
  .github/workflows/node20-ci.yml
Owners: @Recovery-Compass/devops

feat(engagement): scaffold flags, routes (/engage, /about-data), and public docs links
  public/docs/charts.md
  public/docs/data-dictionary.md
  src/lib/featureFlags.ts
  src/main.tsx
  src/pages/AboutData.tsx
  src/pages/EngageHub.tsx
Owners: @ericjones, @Recovery-Compass/documentation-team, @Recovery-Compass/frontend

feat(engagement): add Data Story module behind VITE_FEATURE_DATA_STORY with sample JSON and route (/engage/data-story)
  public/content/data-story.json
  src/main.tsx
  src/pages/DataStory.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

feat(engagement): add Wall of Fame module behind VITE_FEATURE_WALL_OF_FAME with sample JSON and route (/engage/wall-of-fame)
  public/content/wall-of-fame.json
  src/main.tsx
  src/pages/WallOfFame.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

feat(engagement): add Badges module behind VITE_FEATURE_BADGES with sample JSON and route (/engage/badges)
  public/content/badges.json
  src/main.tsx
  src/pages/Badges.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

feat(engagement): add Pet Leaderboard behind VITE_FEATURE_PET_LEADERBOARD with sample JSON and route (/engage/pet-leaderboard)
  public/content/pet-leaderboard.json
  src/main.tsx
  src/pages/PetLeaderboard.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

Engagement: Data Story module (flagged) (#8)
  public/content/data-story.json
  src/main.tsx
  src/pages/DataStory.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

chore(ci): reintroduce minimal pinned CI checks (security, quality, build) with safe branch-name validation
  .github/workflows/ci-security.yml
Owners: @Recovery-Compass/devops

Repo cleanup: reintroduce pinned CI checks and policy hardening (#13)
  .github/workflows/ci-security.yml
Owners: @Recovery-Compass/devops

chore: pin Node engine to ^20 (#3)
  package.json
Owners: @ericjones, @Recovery-Compass/admins

chore: add CODEOWNERS (@EssenceAlignment) (#4)
  .github/CODEOWNERS
Owners: @Recovery-Compass/devops

CI: simplify to single Node 20 check (#2)
  .github/workflows-retired/ci-security.yml
  .github/workflows/ci-security.yml
  .github/workflows/node20-ci.yml
Owners: @Recovery-Compass/devops

Engagement foundation: feature flags, routes, and docs links (#7)
  .github/workflows-retired/ci-security.yml
  .github/workflows/ci-security.yml
  public/docs/charts.md
  public/docs/data-dictionary.md
  src/lib/featureFlags.ts
  src/main.tsx
  src/pages/AboutData.tsx
  src/pages/EngageHub.tsx
Owners: @Recovery-Compass/devops, @ericjones, @Recovery-Compass/documentation-team, @Recovery-Compass/frontend

Engagement: Wall of Fame module (flagged) (#9)
  public/content/wall-of-fame.json
  src/main.tsx
  src/pages/WallOfFame.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend
