Repository Recovery-Compass/wfd-compliance, changes with the owners that CODEOWNERS names for each.
All owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/documentation-team, @Recovery-Compass/devops, @Recovery-Compass/security, @Recovery-Compass/frontend, @Recovery-Compass/backend

Engagement: Badges module (flagged) (#10)
  public/content/badges.json
  src/main.tsx
  src/pages/Badges.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

Engagement: Pet Leaderboard module (flagged) (#11)
  public/content/pet-leaderboard.json
  src/main.tsx
  src/pages/PetLeaderboard.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

feat(engagement): add Live Feed behind VITE_FEATURE_LIVE_FEED with polling, pause/filter, sample JSON, and route (/engage/live-feed)
  public/content/live-feed.json
  src/main.tsx
  src/pages/LiveFeed.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

Engagement: Live Feed module (flagged) (#12)
  public/content/live-feed.json
  src/main.tsx
  src/pages/LiveFeed.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

Add files via upload
  public/whittier-first-day-logo.png
Owners: @ericjones, @Recovery-Compass/admins

Delete public/wfd-logo.svg
  public/wfd-logo.svg
Owners: @ericjones, @Recovery-Compass/admins

Delete public/rc-logo.svg
  public/rc-logo.svg
Owners: @ericjones, @Recovery-Compass/admins

Delete public/placeholder.svg
  public/placeholder.svg
Owners: @ericjones, @Recovery-Compass/admins

Add files via upload
  public/recovery-compass-logo.png
Owners: @ericjones, @Recovery-Compass/admins

chore(brand): swap to official WFD/RC logos and update references (BrandShell, WfdDashboard, impact cards, logos.ts)
  public/impact-cards/impact-card-1.svg
  public/impact-cards/impact-card-2.svg
  public/impact-cards/impact-card-3.svg
  public/recovery-compass-logo.png
  public/whittier-first-day-logo.png
  src/assets/logos.ts
  src/components/BrandShell.tsx
  src/pages/WfdDashboard.tsx
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/frontend

feat: Wow Package — dashboard modules, impact cards, Gmail automation (#14)
  automation/gmail/Code.gs
  automation/gmail/README.md
  automation/gmail/appsscript.json
  index.html
  public/impact-cards/impact-card-1.svg
  public/impact-cards/impact-card-2.svg
  public/impact-cards/impact-card-3.svg
  public/robots.txt
  src/assets/logos.ts
  src/components/BrandShell.tsx
  src/components/wow/ImpactMeter.tsx
  src/components/wow/PetContest.tsx
  src/components/wow/SuccessStoriesCarousel.tsx
  src/main.tsx
  src/pages/ImpactCards.tsx
  src/pages/WfdDashboard.tsx
  src/pages/WowDashboard.tsx
  src/styles/rc-brand.css
Owners: @ericjones, @Recovery-Compass/admins, @Recovery-Compass/documentation-team, @Recovery-Compass/frontend

Add files via upload
  public/WFD_September_Dashboard.html
Owners: @ericjones, @Recovery-Compass/admins

Add files via upload
  public/Whittier_First_Day_Brand_Kit.pdf
Owners: @ericjones, @Recovery-Compass/admins

CODEOWNERS:

# Recovery Compass CODEOWNERS
# This file defines who is responsible for code in this repository
# These owners will be automatically requested for review when someone opens a pull request

# Default owners for everything in the repo
* @ericjones @Recovery-Compass/admins

# Documentation
*.md @ericjones @Recovery-Compass/documentation-team

# Configuration files
*.yml @Recovery-Compass/devops
*.yaml @Recovery-Compass/devops
amplify.yml @ericjones @Recovery-Compass/devops

# Security-sensitive files
.env* @ericjones
*.key @ericjones
*.pem @ericjones
SECURITY.md @ericjones @Recovery-Compass/security

# Frontend code
/src/ @Recovery-Compass/frontend
*.tsx @Recovery-Compass/frontend
*.jsx @Recovery-Compass/frontend

# Backend code
/app/ @Recovery-Compass/backend
*.py @Recovery-Compass/backend

# CI/CD
.github/ @Recovery-Compass/devops
/scripts/ @Recovery-Compass/devops

# MCP and AI context
*context* @ericjones
*mcp* @ericjones
